.place__title {
    margin: 0;
    text-align: left;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    /* max-width: 460px; */
}

@media screen and (max-width: 830px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}


@media screen and (max-width: 730px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
    
    .place__title:first-child {
        /* margin-top: 108px; */
    }
}