.places {
    display: grid;
    max-width: 984px;
    margin: 0 auto;
    gap: 80px;
}

@media screen and (max-width: 1186px) {
    .places {
        max-width: 928px;
        margin-right: 48px;
        margin-left: 48px;
    }
}


@media screen and (max-width: 830px) {
    .places {
        max-width: 720px;
        width: calc(100% - 48px);
        gap: 73px;
        margin-right: 24px;
        margin-left: 24px;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 730px) {
    .places {
        min-width: 320px;
        gap: 49.5px;
        margin: 0;
        max-width: 100%; 
    }
}


