.place__image {
    width: 100%;
    max-width: 460px;
    margin-top: 48px;
}

@media screen and (max-width: 830px) {
    .place__image {
    }
}


@media screen and (max-width: 730px) {
    .place__image {
        margin: 0;
        width: 320px;
        max-width: 100%;
    }
}