.intro {
    width: 100%;
    max-width: 690px;
    margin-left: 148px;
    text-align: left;
}

@media screen and (max-width: 1100px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 830px) {
    .intro {
        max-width: calc(100% - 48px);
        margin: 0 auto;

    }
}

@media screen and (max-width: 480px) {
    .intro {
        min-width: 288px;
        width: calc(100% - 32px);
        margin: 0 16px;
    }
}